body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px; 
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  section {
    width: 100%;
    height: 10vh;
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    padding: 0px 5%;
  }
  nav ul {
    padding: 0;
    margin: 0;
    float: right;
    display: flex;
  }
  nav ul li a {
    margin: 20px;
    font-family: cursive;
    color: #676666;
    font-size: 15px;
    font-weight: 700;
  }
  nav ul li a:hover{
    background: #191919;
  }
  .logo {
    font-family: courier;
    color: #000000;
    font-size: 32px;
    font-weight: bold;
  }

.container{
    max-width: 1100px;
    width: 100%;
    padding: 40px 15px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
}
.header{
    margin: 30px 0px;
    overflow: hidden;
}
.header img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    object-fit: cover;
}
.design{
    margin: 50px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
}
.design img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border: 1px solid rgb(238, 238, 238);
    box-shadow: 1px 2px 3px #ddd;
    border-radius: 10px;
    box-sizing: border-box;
}